header img{
  width: 150px;
  height: 40px;
  float: left;
  margin-top: 23px;
  margin-left: 26vw;
}


nav {
  background-color: #fff;
  padding: 20px;
  display: flex;
}

nav ul {
  margin-right: 28vw;
  list-style: none;
  margin: 25 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

nav ul:last-child{
  margin-right: 25%;
}

nav a {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

nav a:hover {
  color: #F4CE14;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

footer img{
  width: 160px;
  height: 230px;
}